.App {
  text-align: center;
}

.ModalTitle {
  background: transparent;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #333;
}

.ModalBody {
  background: white;
  padding: 20px;
}