.PiggyBank {
  width: 800px;
  margin: 20px auto;
  background: #eee;
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
}

.Summary {
  width: 270px;
  float: left;
}

.Total {
  padding: 20px 0;
}

.DropBox {
  width: 500px;
  float: right;
  padding-bottom: 20px;
}

.Drop {
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.CoinImg {
  width: 130px;
}

.TotalCoins {
  width: 130px;
  margin: 0 10px;
  text-align: left;
  font-weight: bold;
}

.Pocket {
  clear: both;
  padding: 20px 0;
  border-top: 1px solid #333;
}