.Button {
  border: none;
  border-radius: 5px;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Success {
  background: green;
}

.Continue {
  background: blue;
}

.Danger {
  background: red;
}